# COMMON ===================
pytest
requirements-checker
object-info

# ========================================
# SPECIAL FOR THIS PROJECT ---------------
pyserial
smbus2
cli-user

# ========================================
